# 1 | AoC

In [1]:
import pandas as pd
import re
import os

In [2]:
#data_path
DATA = './data/'

## Task 1

In [3]:
d01_file = os.path.join(DATA,'d01.txt')
df = pd.read_csv(d01_file, header=None, names=['Text'])

In [39]:
#function to extract numbers
def extract_numbers(input_string):
    numbers=''.join(re.findall(r'\d+', input_string))
    return int(''.join([numbers[0],numbers[-1]]))

In [40]:
# convert strings to 2 digit numbers
df["desired_numbers"] = df['Text'].apply(extract_numbers)

In [41]:
df.desired_numbers.sum()

54953

## Task 2

In [94]:
def string_to_numbers(text): 
    # Define a mapping of number words to numerical values
    number_mapping = {
        'one': 1,
        'two': 2,
        'three': 3,
        'four': 4,
        'five': 5,
        'six': 6,
        'seven': 7,
        'eight': 8,
        'nine': 9,
    }
    # numbers = []
    # for key,value in number_mapping.items():
    #     text = re.sub(key,str(value),text)

    numbers =''.join(re.findall(r'(?=(\d+|' + '|'.join(re.escape(word) for word in number_mapping.keys()) + r'))',text))  
    for key,value in number_mapping.items():
        numbers = re.sub(key,str(value),numbers) 
    return int(''.join([numbers[0],numbers[-1]]))

In [83]:
r'?=(\d+|' + '|'.join(re.escape(word) for word in number_mapping.keys()) + r')\b)'

'?=(\\d+|one|two|three|four|five|six|seven|eight|nine)\\b)'

In [99]:
df["desired_numbers_t02"] = df['Text'].apply(string_to_numbers)

In [100]:
df.desired_numbers_t02.sum()

53868